certifi
chardet
click 
ddtrace
Flask 
idna 
itsdangerous 
Jinja2
MarkupSafe
msgpack-python
pip
pymongo
requests
setuptools
urllib3
Werkzeug
wrapt
wsgiref
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
